<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="test">
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <style>
      .test{
       height: 100vh;
       min-height: 1000px;
       background: #000000 ;
       background: -webkit-linear-gradient(top, #CB38ED, #000000);
       background: -moz-linear-gradient(top, #CB38ED, #000000);
       background: linear-gradient(to bottom, #CB38ED, #000000);
      }
    </style>
  </body>
</html>
