<template>
  <div class="row " :style="{ 'bs-gutter-x': '0',}">
    <div class="col bg-black w-25 col-xm-7 ">
    <div class="d-flex w-25">
  <img class=" w-50 pt-4 ms-2" src="../assets/logPage.png" alt="img-login">
  <h1 class="align-self-end fs-3"><span style="color:white">anime</span><span style="color:#CA38ED">yabu.</span></h1>
  </div>
  <nav class ="w-100 d-flex justify-content-center row" :style="{'height': '30vh',}">
  <label class="w-100 text-center text-white fs-2 align-self-end">Categorias</label>
  <router-link to="/Home" class="col-12 ms-3 text-center fs-3 align-self-center">Ver todo</router-link>
  <router-link to="/Home" class="col-12 ms-3 text-center fs-3 align-self-start">Crear</router-link>
  <div class="w-100 d-flex justify-content-center ms-3" >
  <p class="fs-3"> <router-link to="/login">Cerrar Sesion</router-link></p>
  </div>
  </nav>
    </div>
  <div
  :style="{ 'background-color': ' #3e1149',
 'height': '100vh',
   }"
    class="col w-100 p-5">
    <section class="container">
    <h1 class="text-white">Hola,<strong>Pedro Perez</strong></h1>
    <div class="row align-self-center" :style="{'height': '40vh',
   }">
    <p class="text-white w-75  align-self-end text-center mt-5">Selecciona una opción:</p>
    <div class="d-grid gap-3 col-11 mx-auto mt-2">
  <button class="btn" :style="{ 'background-color': '#E487FB',}" type="button">Button</button>
  <button class="btn" :style="{ 'background-color': '#E487FB',}" type="button">Button</button>
  <button class="btn" :style="{ 'background-color': '#E487FB',}" type="button">Button</button>
</div>
    </div>
</section>
  </div>
  </div>
</template>
