<template>
  <section v-if="isMobile()">
    <LoginUserM />
  </section>
  <section v-else>
  <div class="row mb-5">
  <div class="col-6 bg-black w-50">
  <div class="d-flex w-75">
  <img class=" w-25 p-3" src="../assets/logPage.png" alt="img-login">
  <h1 class="w-50 align-self-center"><span style="color:white">anime</span><span style="color:#CA38ED">yabu.</span></h1>
  </div>
  <LoginUserM />
  </div>
    <elementsCourse />
    </div>
  </section>
</template>
<script>
    import LoginUserM from '../components/login.vue'
   import elementsCourse from '../components/course.vue'
   import { vueWindowSizeMixin } from 'vue-window-size/option-api';
export default {
    name: "LoginUser",
    mixins: [vueWindowSizeMixin()],
    components:{
     LoginUserM,
     elementsCourse
    },
methods: {
        isMobile(){
        if(this.$windowWidth <= 760){
            return true
        }
        else{
            return false
        }
    }
  }
}
</script>
