<template>
<section v-if="isMobile()">
    <RegisterUser/>
  </section>
  <section v-else>
  <div class="row mb-5">
  <div class="col-6 bg-black">
  <div class="d-flex w-75">
  <img class=" w-25 p-3" src="../assets/logPage.png" alt="img-login">
  <h1 class="w-50 align-self-center"><span style="color:white">anime</span><span style="color:#CA38ED">yabu.</span></h1>
  </div>
  <RegisterUser />
  </div>
    <elementsCourse />
    </div>
  </section>
</template>
<script>
    import RegisterUser from '../components/register.vue'
   import elementsCourse from '../components/course.vue'
   import { vueWindowSizeMixin } from 'vue-window-size/option-api';//Libreria que extrae el ancho de pantalla
export default {
    name: "LoginUser",
    mixins: [vueWindowSizeMixin()],
    components:{//compinentes inyectados a la vista
     RegisterUser,
     elementsCourse
    },
methods: {
        isMobile(){
        if(this.$windowWidth <= 760){// condicion para visualizacion de template dependiendo del tamaño de pantalla
            return true
        }
        else{
            return false
        }
    }
  }
}
</script>