<template>
  <div
    :style="{ 'background-color': ' #3e1149' }"
    id="carouselExampleIndicators"
    class="carousel slide col-6 pt-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner position-relative mt-5">
      <div
        :style="{ height: '700px' }"
        class="carousel-item active"
        data-bs-interval=""
      >
        <img
          :style="{
            'position': 'absolute',
            'top': '0',
            'right': '0',
            'z-index': '3',
            'overflow': 'visible',
            'min-height': '420px',
            'margin-bottom': '420px',
          }"
          class="w-100 d-block"
          src="../assets/tanjiro.png"
          alt="tanjiro"
        />
        <img
          class="w-100 mb-5 ms-1 "
          src="../assets/circle.png"
          alt="circulo"
        />
      </div>

      <div
        :style="{ height: 'auto' }"
        class="carousel-item"
        data-bs-interval=""
      >
        <img
          :style="{
            position: 'absolute',
            top: '0',
            right: '15px',
            'z-index': '3',
            overflow: 'visible',
            'min-height': '300px',
          }"
          class="w-75 me-5 py-5"
          src="../assets/Rengoku.png"
          alt="rengoku"
        />
        <img
          class="w-100 ms-1  "
          src="../assets/circle.png"
          alt="circulo"
        />
      </div>

      <div
        :style="{ height: '800px' }"
        class="carousel-item me-5"
        data-bs-interval=""
      >
        <img
          :style="{
            position: 'absolute',
            top: '0',
            right: '40px',
            'z-index': '3',
            overflow: 'visible',
            'min-height': '400px',
          }"
          class="w-75 me-5 mt-4"
          src="../assets/inosuke.png"
          alt="tanjiro"
        />
        <img
          class="w-100 ms-1 "
          src="../assets/circle.png"
          alt="circulo"
        />
      </div>
    </div>
     <div class="carousel-caption d-none d-md-block">
          <h1
            class="fw-bold"
            :style="{
              'font-size': '60px',
            }"
          >
            <span style="color: white">anime</span
            ><span style="color: #ca38ed">yabu.</span>
          </h1>
          <p>
            Ver anime en línea en HD, subtitulado o doblado, en tu celular o
            computadora. ¡Animeyabu, tu portal de anime en línea!
          </p>
        </div>
  </div>
</template>

<script>
export default {
  name: "elementsCourse",
};
</script>
