<template>
  <nav class="w-25 ms-5">
   <router-link to="/register"><img class="img-fluid w-50 p-2" src="../assets/arrow-up.png" alt=""></router-link>
  </nav>
  <header>
  <div class="d-flex justify-content-center mt-4">
    <img class="img-fluid w-50" src="../assets/loginn-logo.png" alt="img-login">
  </div>
  <h4 class="display-2 text-center text-white fw-bolder">ひさしぶり!</h4>
  <p class=" text-center text-white fw-normal lh-base">¡Hola, te extrañamos!</p>
  </header>

  <section class="container my-5 col-12">
    <div class="my-3">
    <label class="text-white  fs-4" for="floatingInput">Email</label>
    <input :style="{ 'background-color': ' rgba(188, 177, 191, 1)',}" class= "form-control border-white rounded p-3"  id="floatingInput" placeholder="correo@tumail.com" type="email" v-model="nameU" />
    </div>
    <div class="mb-3"> 
    <label class="text-white fs-4" for="floatingPassword">Contraseña</label>
    <input :style="{ 'background-color': ' rgba(188, 177, 191, 1)',}" class= " p-3 form-control border-white rounded" id="floatingPassword" placeholder="........"  type="password" v-model="passwordL" />
    <p :style="{'color': '#E487FB', 'font-size': '0.7em', }" class="text-end mt-2  fs-5">Olvidó la contraseña?</p>
    </div>
     <button :style="{ 'background-color': '#E487FB',}" class="btn fw-bold mx-auto col-12 p-3" type="button" @click="loginUser()">Acceder</button>
  </section>

  <footer>
    <p class="text-center text-white">Logueate con redes sociales</p>
    <section class="w-50 d-grid gap-3 col-12 mx-auto mt-3">
    <div class="d-flex justify-content-between">
    <img
            src="../assets/instagram.png"
            class="w-25 border border-white border-3 rounded-3"
            alt="register-img "
          />
          <img
            src="../assets/twitter.png"
            class="w-25 border border-white border-3 rounded-3"
            alt="register-img "
          />
          <img
            src="../assets/facebook.png"
            class="w-25 border border-white border-3 rounded-3"
            alt="register-img "
          />
          </div>
          </section>
          <div class="d-flex flex-row justify-content-center mt-3">
            <p class="text-white me-3 fs-5">Quieres registrarte?</p>
            <router-link to="/register"  :style="{'color': '#E487FB', 'text-decoration': 'none'}" class="ms-3 fs-5">Registrate</router-link>


          </div> 
    </footer>
    <elementsCourse/>
</template>
<script src="../modules/login.js"></script>
