<template>
 <nav class="w-25 ms-5">
   <router-link class="w-50" to="/login"><img class="img-fluid w-25  mt-2" src="../assets/arrow-up.png" alt=""></router-link>
  </nav>
  <section>
    <div class="container d-flex justify-content-center">
      <div class="w-100 d-flex justify-content-center">
        <img
          src="../assets\register-logo.png"
          class="w-25"
          alt="register-img "
        />
        <hgroup class="align-self-end">
          <h1 class="text-white"><strong>ようこそ!</strong></h1>
          <p class="text-white">Bienvenido(a)</p>
        </hgroup>
      </div>
    </div>
  </section>
  <div class="container w-100">
    <section>
      <div class="container form-check row">
        <label class="col-4 text-white">Tipo de persona</label>
        <label class="col-4">
          <input
            type="radio"
            class="form-check-input"
            value="Juridica"
            v-model="typePerson"
          />
          <span class="text-white">Juridica</span>
        </label>
        <label class="col-4">
          <input
            type="radio"
            value="Natural"
            checked="checked"
            v-model="typePerson"
            class="form-check-input"
          />
          <span class="text-white">Natural</span>
        </label>
      </div>
      <form v-show="showForm()" class="w-100">
        <div class="d-grid mx-auto w-75">
          <label class="text-white mt-3 fs-4">Name</label>
          <input type="name" class="form-control border border-2  p-2" :style="{
          'background-color': ' rgba(188, 177, 191, 1)',}"
          v-model="userDataNatural.name"/>
          <label class="text-white mt-3 fs-4">Apellido</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.lastName"
          />
          <label class="text-white mt-3 fs-4">Telefono</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.phoneNumber"
          />
          <label class="text-white mt-3 fs-4">Número de Identificación!</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.identificationNumber"
          />
          <label class="text-white mt-3 fs-4">Email</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.email"
          />
          <label class="text-white mt-3 fs-4">Contraseña</label>
          <input
            type="password"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.password"
          />
          <label class="text-white mt-3 fs-4">confirmar Contraseña</label>
          <input
            type="password"
            class="form-control border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataNatural.confirmPassword"
          />
          <div class="d-grid gap-3 col-12 mx-auto mt-4">
            <a
              type="button"
              class="btn fw-bold  fs-4 p-2"
              :style="{ 'background-color': '#E487FB' }"
              @click="registerN()"
              >Registrarse</a
            >
          </div>
        </div>
      </form>
      <form v-show="!showForm()" class="w-100">
        <div class="d-grid mx-auto">
          <label class="text-white mt-3 fs-4">Razon Social</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.name"
          />
          <label class="text-white mt-3 fs-4">NIT</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.NIT"
          />
          <label class="text-white mt-3 fs-4">Telefono</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.phoneNumber"
          />
          <label class="text-white mt-3 fs-4">Email</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.email"
          />
          <label class="text-white mt-3 fs-4">Contraseña</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.password"
          />
          <label class="text-white mt-3 fs-4">Confirmacion contraseña</label>
          <input
            type="name"
            class="form-control border border-2  p-2"
            :style="{ 'background-color': ' rgba(188, 177, 191, 1)' }"
            v-model="userDataLegal.confirmPassword"
          />
          <div class="d-grid gap-3 col-12 mx-auto mt-4">
            <button
              :style="{ 'background-color': '#E487FB' }"
              type="button"
              class="btn fw-bold fs-4 p-2"
              @click="registerL()"
            >
              datos
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <footer>
    <section class="w-50 d-grid gap-3 col-12 mx-auto mt-3">
      <div class="d-flex justify-content-between">
        <img
          src="../assets\instagram.png"
          class="w-25 rounded-3 border border-3"
          alt="register-img "
        />
        <img
          src="../assets\twitter.png"
          class="w-25 rounded-3 border border-3"
          alt="register-img "
        />
        <img
          src="../assets\facebook.png"
          class="w-25 rounded-3 border border-3"
          alt="register-img "
        />
      </div>
    </section>
  </footer>
</template>

<script src="../modules/registers.js"></script>
